<?xml version="1.0"?>
<!--
  Clearpath URDF-EXTRAS fuer a200-0553.
  Wird vom Clearpath-Generator eingebunden ueber robot.yaml:
      platform:
        extras:
          urdf:
            path: /home/robot/onrobot-rg6/.../clearpath_extras.urdf.xacro

  Haengt NUR neue Links/Joints an bereits vom Generator erzeugte Frames an:
    - arm_0_tool0   = UR5 Tool-Frame (ROS-Industrial all-zeros)  -> RG6-Greifer
    - default_mount = Frame, auf dem der ArUco-Marker sitzt (TODO anpassen)

  GREIFERMODELL:
    Sauber artikuliertes RG6 aus package 'onrobot_rg6_visualization' (Robotiq-Stil:
    outer_knuckle/inner_knuckle/inner_finger pro Seite, getrennte visual/collision-
    Meshes). Treibergelenk = 'rg6_finger_joint' (Praefix 'rg6_'): 0 = offen,
    positiv = zu. Alle anderen Greifergelenke folgen per <mimic> -> die
    Parallelogramm-Schleife bleibt geschlossen, nichts zerfaellt.
    Der rg6_joint_state_broadcaster speist 'rg6_finger_joint'.

  VORAUSSETZUNG: sowohl 'rg6_description' (falls weiter genutzt) als auch
  'onrobot_rg6_visualization' muessen in einem in robot.yaml unter
  'system.ros2.workspaces' eingetragenen Workspace installiert sein, sonst findet
  die foxglove_bridge die package://-Meshes nicht.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="white"><color rgba="0.9137 0.9137 0.9137 1.0"/></material>

  <!-- =========================== ArUco-Marker =========================== -->
  <!-- TODO: MARKER_PARENT + Offset an die reale Position anpassen. -->
  <link name="aruco_marker">
    <visual>
      <geometry><box size="0.127 0.127 0.001"/></geometry>
      <material name="white"/>
    </visual>
  </link>
  <joint name="aruco_to_base" type="fixed">
    <parent link="default_mount"/>          <!-- TODO: korrektes Frame -->
    <child link="aruco_marker"/>
    <origin rpy="0 0 0" xyz="0.048 -0.134 0"/>  <!-- TODO: realer Offset -->
  </joint>

  <!-- ===================== RG6-Greifer an arm_0_tool0 =================== -->
  <!-- Greifermodell instanziieren (Praefix 'rg6_'). -->
  <xacro:include filename="$(find onrobot_rg6_visualization)/urdf/onrobot_rg6_model_macro.xacro"/>
  <xacro:onrobot_rg6 prefix="rg6_"/>

  <!-- Greiferbasis an den Tool-Flansch. Modell-Achse = +Z (wie altes Modell),
       daher Roll -90deg um X. Falls noch verdreht, je 90deg variieren:
         rpy="1.5708 0 0" | rpy="0 0 1.5708" | rpy="0 0 -1.5708" -->
  <joint name="rg6_tool0_to_base" type="fixed">
    <parent link="arm_0_tool0"/>
    <child link="rg6_onrobot_rg6_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Greifer-TCP (mittig zwischen den Fingerspitzen, grob). -->
  <link name="rg6_hand_tcp"/>
  <joint name="rg6_hand_tcp_joint" type="fixed">
    <origin xyz="0 0 0.21" rpy="0 0 0"/>
    <parent link="rg6_onrobot_rg6_base_link"/><child link="rg6_hand_tcp"/>
  </joint>

</robot>
